* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f0ecf3;
}


/* navbar start */
.navbar {
    background-color: #5b67f0;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    /* border: 2px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar h2 > a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    /* border: 2px solid black; */
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}

.nav-menu li {
    list-style: none;
    font-size: 20px;
    
}
.nav-menu a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover {
    /* text-decoration: underline; */
    /* color: rgb(63, 19, 184); */
    border-bottom:2px solid #0ef;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


/* navbar end */

/* home section start */
.home {
    padding-top: 40px;
    /* margin-top: 75px; */
    /* border: 5px solid rgb(255, 0, 183); */
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    padding: 20px;
    margin: 40px;
}

.contents h3 {
    font-size: 25px;
    color: #000;
}
.contents h1 {
    font-size: 45px;
    font-weight: bold;
    color: #000;
}
/* .contents h2 {
    font-size: 28px;
    color: #000;
}
.contents h2 span {
    color: #4834d4;
    text-transform: uppercase;
} */
 .contents .hero-subtitle{
    font-size: 28px;
    color: #000;
}
.typewriter-highlight {
    font-weight: 600; /* font-semibold */
    color: #4416d9; /* text-blue-300 */
    font-size: 28px;
    /* border: 2px solid rgb(255, 0, 230); */
}

.social-media {
    gap: 20px;
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
}
.contents .social-media a {
    text-decoration: none;
    color: #4834d4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #4834d4;
    border-radius: 50%;
    font-size: 23px;
    transition: .5s ease;
}
.contents .social-media a:hover {
    background-color: #4834d4;
    color: #fff;
    box-shadow: 0 0 17px #4834d4;
}

.contents a {
    text-decoration: none;
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 16px 23px;
    background-color: #4834d4;
    border-radius: 48px;
    box-shadow: 5px 3px 16px #4834d4;
    font-size: 20px;
    font-weight: 400;
    transition: .5s ease;
}
.btn:hover {
    background-color: white;
    color:  #4834d4;
}

.img img {
    width: 37vw;
    /* border: 2px solid green; */
    /* border-radius: 50%; */
    /* background-color: #4834d4; */
    /* box-shadow: 0 0 20px #3fe0d5; */
}
/* home section end */

/* about page start */
.about {
    /* margin: 30px; */
    /* padding-top: 70px;    */
    margin-top: 60px;
    /* border: 5px solid rgb(0, 255, 140); */
}
.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    padding: 35px;
    padding-top: 72px;   
    /* margin-top: 52px; */
}

.img-2 img {
    width: 35vw;
    /* border: 2px solid green; */
    border-radius: 10%;
    background-color: #3fe0d5;
    /* box-shadow: 0 0 20px #3fe0d5; */
}
.about-me {
    margin-left: 60px;
    /* border: 2px solid blue; */
}
.about-me .heading {
    font-size: 50px;
    margin-bottom: 25px;
    color: #000;
}
.about-me span {
    color: #4834d4;
}

.about-me p {
    font-size: 20px;
    margin-bottom: 25px;
    color: rgb(47, 47, 47);
}

.about-edu-skills{
    /* border: 2px solid #0ef; */
    display: flex;
    flex-direction: row;
}
.about-edu-skills .education {
    /* border: 2px solid orangered; */
    width: 60%;
    color: #000;
}
.about-edu-skills h2 {
    padding: 5px;
    /* text-decoration: underline; */
    text-transform: uppercase;
    margin-bottom: 15px;
    color: 000;
}
.education .info-all {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.education .info-all li {
    font-size: 18px;
    line-height: 28px;
}
.about-edu-skills .ed-hr {
    height: 7px;
    width: 20%;
    background-color: #4834d4;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

.about-edu-skills .skills{
    /* border: 2px solid rgb(0, 42, 255); */
    width: 52%;
    color: 000;
}
.skills .skill-info{
    max-width: 100%;
    height: 45%;
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.skills i:hover{
    cursor: pointer;
    transition: .5s ease;
    transform: scale(1.1);
}
.skills .html-info{
    /* border: 2px solid green; */
    width: 70px;
    height: 70px;
    font-size: 60px;
    text-align: center;
}
.skills .html-info .info {
    font-size: 25px;
    text-align: center;
    color: #000;
    font-weight: 400;
}
/* about page end */

/* Projects Section Start*/
#projects h2 {
    color: #000000;
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
}

.project-section .container {
    /* border: 2px solid red; */
    padding: 15px;
    margin: 25px;
}
.project-section .container .p-uline {
    height: 7px;
    width: 12%;
    background-color: #4834d4;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 630px;
}
/* Project Flexbox */
.projects-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 25px;
    gap: 25px;
}

/* Project Card */
.project-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

.project-card:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 8px 16px rgba(87, 235, 232, 0.712);
    cursor: pointer;
}

.project-img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #61dafb;
    margin-bottom: 15px;
    border-radius: 10px;
}

.project-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    
    background-color: #21a1f1;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.project-link:hover {
    background-color: #ffffff;
    color: #21a1f1;
    border: 2px solid #21a1f1;
}



/* contact section */
section.contact {
    /* border: 2px solid rgb(0, 34, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 50px;
    /* background: #755656; */
}

.contact h2 {
    font-size: 50px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 3px solid #4834d4;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    color: rgb(28, 20, 20);
    margin: 12px 0;
}

form .textarea-field .item{
    resize: none;
}

form button {
    padding: 12px 32px;
    background: #5B67F0;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #5B67F0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: .5s ease;
    color: #fff;
}

form button:hover {
    background: #fff;
    color: #4834d4;
}

footer {
    text-align: center;
    background: #7b85f1;
    color: black;
    padding: 10px;
}

#scroll-top {
    background-color: #5B67F0;
    color: #151527;
    padding: 9px;
    border-radius: 9px;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 4rem;
    right: 4%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .project-card {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #4834d4;
        width: 50%;
        text-align: center;
        transition: 0.3s;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .nav-items {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-menu a:hover {
        /* text-decoration: underline; */
        /* color: rgb(63, 19, 184); */
        border-bottom:none;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .home {
        /* border: 2px solid yellow; */
        padding-top: 40px;
        margin-top: 45px;
    }
    .contents {
        /* border: 2px solid blue; */
        padding: 10px;
    }
    .contents h3 {
        font-size: 15px;
        color: #000;
        font-weight: 300;
        margin-left: 3px;
    }
    .contents h1 {
        font-size: 27px;
        font-weight: bold;
        color: #000;
    }
    /* .contents h2 {
        font-size: 16px;
        color: #000;
    }
    .contents h2 span {
        color: #4834d4;
        text-transform: uppercase;
        font-size: 16px;
    } */
    .contents .hero-subtitle {
        font-size: 16px;
        color: #000;
    }
    .contents .typewriter-highlight {
        color: #4834d4;
        font-size: 16px;
    }
    .social-media {
        /* border: 2px solid red; */
        margin: 10px 0;
    }
    .img img {
        margin-top: 20px;
        width: 95vw;
    }
    /* .about {
        border: 2px solid rgb(13, 0, 255);
        padding: 20px;
    } */
    .about-content {
        display: flex;
        flex-direction: column-reverse;
        /* border: 2px solid red; */
        padding: 60px 25px 0 25px;
        /* padding: 10px; */
        /* margin: 50px; */
    }
    .about-me {
        margin-left: 0px;
    }
    .about-me .heading {
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;
    }
    .about-me p {
        font-size: 16px;
        text-align: justify;
    }
    .about-edu-skills{
        /* border: 2px solid #0ef; */
        display: flex;
        flex-direction: column-reverse;
    }
    .about-edu-skills .education {
        /* border: 2px solid orangered; */
        margin-bottom: 20px;
        width: 100%;
        color: #000;
    }
    .about-edu-skills .skills{
        /* border: 2px solid rgb(0, 42, 255); */
        width: 100%;
        color: #000;
        margin-bottom: 30px;
    }
    .skills .html-info{
        /* border: 2px solid green; */
        width: 50px;
        height: 50px;
        font-size: 40px;
        text-align: center;
    }
    .skills .html-info .info {
        font-size: 18px;
        text-align: center;
        color: #000;
        font-weight: 400;
    }
    .skills .skill-info{
        gap: 20px;
    }
    .img-2 img {
        display: none;
    }
    #projects h2 {
        font-size: 40px;
        /* border: 2px solid red; */
        padding-top: 50px;
    }
    .project-section .container {
        /* border: 2px solid red; */
        padding: 15px;
        margin: 5px 0;
    }
    .projects-flex {
        /* border: 2px solid rgb(0, 42, 255); */
        margin-top: 12px;
        padding: 10px;
    }
    .project-card {
        border-radius: 20px;
        width: 100%;
    }
    .project-section .container .p-uline {
        height: 7px;
        width: 27%;
        margin-left: 120px;
    }
    section.contact {
        /* border: 2px solid rgb(0, 34, 255); */
        padding: 25px;
    }
    .contact h2 {
        font-size: 35px;
    }
    .field .item {
        padding: 7px 5px;
    }
    form button {
        padding: 8px 15px;
        font-size: 20px;
    }
}